@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Cornucopia</h1>
    <p><h2>Where your dream home awaits you</h2>
        
    
    </p>

    <p>
        <div style="border:2px double;background-color:aliceblue;width:40%; margin:10px auto">
            <h4>Fill form and submit</h4>
            <form method="post">
                Aspiring Resident <input type="text" value="Enter Name">
                <br><br>
                Enter Dwelling type <select name="Dwelling">
                    <option value="">Select dwelling type</option>
                    <option value="1">Apartment</option>
                    <option value="2">Duplex</option>
                    <option value="3">Townhouse</option>
                    <option value="4">Semi</option>
                    <option value="5">House</option>
                </select>
                <br><br>
                Enter desired location <select name="Location">
                    <option value="">Select Location</option>
                    <option value="1">CBD</option>
                    <option value="2">Inner City</option>
                    <option value="3">Outer Suburb</option>
                    <option value="4">Rural</option>
                </select>
                <br>
                <br>
                <input type="submit" value="Submit Request" />
                <br>

            </form>
        </div>
    </p>

</div>
