@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome To Blaze Away</h1>

<h2>Where we explore the beauty of Blazor!</h2>

<div style="background-color:aquamarine;width:fit-content">
    Here we look at div tags to determine how best to make it look better.
</div>

<table>
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>State</th>
    </tr>
    <tr>
        <td>Alfredo</td>
        <td>38 Trombone street</td>
        <td>NSW</td>
    </tr>
    <tr>
        <td>Geoff Goldmire</td>
        <td>90 Coleman street</td>
        <td>NSW</td>
    </tr>
</table>