@page
@model TopSolutions.WebApi.Model.WeatherInfo
@{

    <h2>Weather in @Model.City</h2>
    <p><strong>Min Temp:</strong> @Model.TempMin °C</p>
    <p><strong>Max Temp:</strong> @Model.TempMax °C</p>
    <p><strong>Condition:</strong> @Model.Description</p>

}
